@use "vars" as *;

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
.timer{
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    font-size: 1.5em;

    @media (min-width: 500px) {
        position: absolute;
        inset: auto;
        right: 0;
        background-color: white;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, .2);
        top: 100%;
        right: 1em;
        padding: .5em 1em;
        border-radius: 0 0 8px 8px;
        font-size: .9em;
    }  
    
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-top{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5em;
            span{
                color: blue;
                font-size: 1.5em;
                font-weight: bold;
            }
        }

        &-bottom{
            text-align: center;
            span{
                color: #333;
                font-size: .8em;
            }
        }
    }

    &-btn{
        color: white;
        background-color: #333;
        padding: 8px 15px;
        margin-left: 15px;
        border-radius: 8px;
        border: 0;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 10;

        svg{
            path{
                fill: white;
            }
        }
    }
}

.timer-icon{
    width: 1.4em;
    height: 1.4em;

    path{
        fill: #005b96;
    }
}
.alarm-icon{
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;

    path{
        fill: #960000;
    }
}