.css-gab2yv {
    display: inline-flex;
    vertical-align: top;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    font-weight: 400;
    line-height: 1.2;
    outline-offset: 2px;
    min-height: var(--chakra-sizes-6);
    min-width: var(--chakra-sizes-6);
    font-size: var(--chakra-fontSizes-sm);
    padding-inline-start: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    --badge-bg: colors . shori .500;
    --badge-color: var(--chakra-colors-white);
    color: white;
    flex-shrink: 0;
    cursor: pointer;
    background-color: #005b96;
    outline: transparent solid 2px;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.css-iuszi {
    display: inline-flex;
    vertical-align: top;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    font-weight: 400;
    line-height: 1.2;
    outline-offset: 2px;
    min-height: var(--chakra-sizes-6);
    min-width: var(--chakra-sizes-6);
    font-size: var(--chakra-fontSizes-sm);
    padding-inline-start: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    --badge-bg: var(--chakra-colors-gray-500);
    --badge-color: var(--chakra-colors-white);
    color: var(--chakra-colors-clonika_v2-neutral-gray-900);
    flex-shrink: 0;
    cursor: pointer;
    background-color: #F6F6F6;
    outline: transparent solid 2px;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.css-1d6wgrc {
    display: flex; align-items: center;gap: 10px;

    span{
        padding: 4px 10px;
    }
}